<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

<header>
    <%- include ('../partials/header') %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great but I don't know what to do now</h1>
        <p>Welcome to my trashsite <%= username %></p>
        <script>
            document.getElementById("test").append( '<%= username %>')
        </script>

    </div>
</main>
<footer>
    <%- include ('../partials/footer') %>
</footer>

</body>
</html>
