<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/summonerPage.js"></script>
    <link rel="stylesheet" href="/css/summonerPage.css">
</head>

<% if (locals.in_game && locals.in_game.participants) { %>
<body class="container-fluid" onload="startTime()">
    <% }else{%>
    <body class="container-fluid">
        <%}%>
<header>
    <%- include ('../partials/header') %>
        </header>

        <main>

            <div class="jumbotron">
                <% if (locals.in_game && locals.in_game.participants) { %>
                    <%- include ("inGame.ejs") %>
                <% } %>

                <section class="container-fluid account">
                    
                    <div class="row" >
                        <div class="col-auto" id="colleftleft">
                            <img class="profileIcon" src="http://ddragon.leagueoflegends.com/cdn/10.24.1/img/profileicon/<%= profileIconId %>.png">
                            <span class="lvl">&nbsp;&nbsp;<b><%= summonerLevel%></b>&nbsp;&nbsp;</span>
                        </div>
                        <div class="col-auto " id="colleftmiddle">
                            <p>Summoner name : </p>
                            <span id="summonerName"><%=name %></span>

                        </div>
                        <div class="col"  id="colcenter">
                            <span class="centerButtons ">
                               <!-- <button type="button" class="btn btn-dark">Dark</button>
                                <button type="button" class="btn btn-dark">Dark</button>
                                <button type="button" class="btn btn-dark">Dark</button>
                                <button type="button" class="btn btn-dark">Dark</button>-->
                            </span>
                        </div>
                        <div class="col-auto" id="colright">
                            <button id="updateButton" type="button" class="btn btn-dark updateButton"
                                value=<%=accountId%>>Update</button>
                        </div>
                    </div>
                </section>



                <section class="container-fluid">
                    <div class="row">
                        <div class="col border border-dark">
                            <article class="border-bottom border-dark">
                                <div>
                                    <% if (locals.ranked[0] && Object.keys(locals.ranked[0]).length !== 0 ) { %>
                                        <%=ranked[0].queueType.replace("_", " ")%>
                                    
                                        <table class="table table-bordered table-striped">
                                            <tbody id="ranked1">
                                                <tr>
                                                    <td>hotstreak</td>
                                                    <td><%=ranked[0].hotStreak%>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>wins</td>
                                                    <td><%=ranked[0].wins%></td>
                                                </tr>
                                                <tr>
                                                    <td>losses</td>
                                                    <td><%=ranked[0].losses%></td>
                                                </tr>
                                                <tr>
                                                    <td>rank</td>
                                                    <td><%= ranked[0].tier%>
                                                        <%=ranked[0].rank%> :
                                                        <%=ranked[0].leaguePoints%> lp
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </div>
                                <div>
                                    <% if (locals.ranked[1] && Object.keys(locals.ranked[1]).length !== 0  ) { %>
                                    <%=ranked[1].queueType.replace("_", " ")%>
                                    <table class="table table-bordered table-striped">
                                        <tbody id="ranked2">
                                            <tr>
                                                <td>hotstreak</td>
                                                <td><%=ranked[1].hotStreak%></td>
                                            </tr>
                                            <tr>
                                                <td>wins</td>
                                                <td><%=ranked[1].wins%></td>
                                            </tr>
                                            <tr>
                                                <td>losses</td>
                                                <td><%=ranked[1].losses%></td>
                                            </tr>
                                            <tr>
                                                <td>rank</td>
                                                <td><%= ranked[1].tier%>
                                                    <%=ranked[1].rank%> :
                                                    <%=ranked[1].leaguePoints%>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <% } %>
                                </div>
                                <% } %>
                            </article>
                            <article>
                                <p>Les joueurs avec qui il a le plus joué</p>
                            </article>


                        </div>
                        <div id="gameHistory" class="col-auto border border-dark">
                            <script>
                                let accName = '<%=name%>';
                                accName.toString();
                                loadGame(accName); 
                            </script>
                        </div>
                        <div class="col border border-dark">
                            <p>Les champions avec qui il a le plus joué</p>
                        </div>
                    </div>
                </section>
        </main>

        <footer>
            <%- include ('../partials/footer') %>
        </footer>

    </body>

</html>
